*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #EBE6E4;
    
    div{
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        align-items:center;
        justify-content:center;
        
        img{
            max-width: 19em;
            justify-content: flex-start;
        }
        
        nav{
            display: inline-block;
            margin-top: 40px;
            
            ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                gap: 40px;
                
                
                li {
                    
                    a{
                        display: flex;
                        flex-direction: row;
                        font-size: 1.3em;
                        color: black;
                        font-family:'Baskervville', serif;
                        text-decoration: none;
                        padding-bottom: 50px;
                    }
                    a:hover{
                        color: #be9715;
                    }
                }
            }
        }
    }
    .btnLogOut{
        background-color: #EBE6E4;
        border-left: solid 2px;
        border-right:none;
        border-top: none; 
        border-bottom: none;
        padding-left: 14px;
        color: #ad41168e;
        font-size: 30px;
        margin-left: 10px;
    }
    .btnLogOut:hover{
        color:#ad4116c0 ;
    }

    .btnUser{
        border-left: solid 2px;
        border-right:none;
        border-top: none; 
        border-bottom: none;
        padding-left: 14px;
        color: #ad41168e;
        font-size: 30px;
        margin-left: 10px;
    }
    .btnUser:hover{
        color:#ad4116c0 ;
    }
}

