.cartIcon{
    text-decoration: none;
    margin-left: 25px;
    .cart{
        color: black;
        max-width: 35px;
        font-family:'Baskervville', serif ;
    }
    span{
        color: black;
    }

}

