.homeContainer {
    font-family:'Baskervville', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .title{
        font-size: 3.5em;
        font-weight: lighter;
        color: rgb(0, 0, 0);
        margin-top: 30px;
        
    }
    .greeting{
        font-size: 2em;
        font-weight: lighter;
        border-bottom: 1px solid;
    }

    .flyerCont{
        border-left: solid 1px black;
        border-right: solid 1px black;
        padding-left: 25px;
        padding-right: 25px;
        img{
            
                margin-top: 60px;
                margin-bottom: 30px;
                
            }
    }
    

}

.prodTitle{
    font-family: 'Baskervville', serif;
    font-weight: lighter;
    text-align: left;
    margin-left: 180px;
    margin-top: 110px;
    font-size: 2em;
}


