.footerContainer {
    display: block;
    max-width: 100%;
    background-color:#ebe6e480 ;
    padding: 10px;
    text-align: center;
    position: inherit;

    p {
        margin-bottom: 15px;
        font-size: 18px;
        font-family: 'Baskervville', 'serif';
    }
    a{
        font-size: 25px;
        color: black;    
        margin-left: 12px;
        margin-right: 12px;
    }
}